* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.welcome{
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0AA1D7;
  /* background-color: #1eae81; */
  color:#0f1118;
  /* background: linear-gradient(-135deg, red, rgb(20, 189, 20)); */

  
}
.greeting{
  /* font-family: Arial, Helvetica, sans-serif; */
  width: 100vw;
  display: flex;
  /* background-color: red; */
  justify-content:center;
  align-items: center;

  font-size: 2.5rem;
  letter-spacing: .1rem;
  font-weight: 800;
  color: white;
  text-shadow: 1px 1px 2px red;
  margin-top: min(10vw,10vh);

}
.greeting span{
  margin: 5px;
}
.red{
  color: red;
  text-shadow: 1px 1px 2px white;
}
.heading{
  margin-top: 10vh;
  width: auto;
  border: 2px solid red;
  border-radius: 5px;
}
.select{
  margin-top: 5vh;
  color: blue;
  text-shadow: 1px 1px 2px rgba(225, 214, 214, 0.897);

}
.select h2{
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 1.6rem;
}
.select span{
  margin:5px;
  font-weight: 600;
  font-size: 1.3rem;
}
.green{
  color: green;
  text-shadow: 1px 1px 1px white;
}
.yellow{
  color: rgb(255, 68, 0);
  text-shadow: 1px 1px 1px white;
}
.select span input{
  
  margin-left: 4px;
  position: relative;
  top:2px;
  font-size: 2rem;
}
.heading input{
  max-width: 80vw;
  border:none;
  outline: none;
  color: aqua;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  background: none;
  margin: 10px;
  padding: 10px;
}
.start{
  margin-top: 5vh;
  color: white;
  padding:10px;
  font-weight: 600;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px black;
  background-color: rgb(12, 125, 8);
  border-radius: 10px;
  box-shadow: 2px 2px 3px black;
  border: 4px solid rgb(12, 125, 8);
  cursor: pointer;
}
.start:hover{
 position: relative;
 top:-4px;
 color: rgb(12, 125, 8);
 background: none;
 border: 4px solid rgb(12, 125, 8);
}
#BODY {
  
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0AA1D7;
 
  /* background-color: #1eae81; */
  color:#0f1118;
  /* background: linear-gradient(-135deg, red, rgb(20, 189, 20)); */
  display: none;
}
.design{
  position: absolute;
  left:5vw;
  top:10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.design .coler{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  margin: 20px;
}
 .h1 {
  position: absolute;
  font-size: 2.5rem;
  font-weight: 700;
  left: 15vw;
  top:20px;
  color:pink;
  text-shadow: 1px 1px 1px white;
  transition: all ease .5sec;
  animation: animate1 5s linear infinite;
}
@keyframes animate1 {
  0%{
    colore:pink
  }
  50%{
    color:red;
  }
  100%{
    color:pink;
  }
}

#gamearea {
  width: min(80vh,80vw);
  height: min(80vh,80vw);
  background-color: aqua;
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.scoreboard,
#gameover {
  position: absolute;
  top: 10vh;
  right: 3vh;
  border: 5px solid red;
  border-radius: 5px;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-shadow: 1px 1px 2px white;
  color: black;
}
#gameover {
  top: 50%;
  left: 40%;
  width: fit-content;

  display: none;
}
#highest,
#curr {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}
.sbody {
  background-color: rgb(226, 43, 202);
  border: 3px solid pink;
  border-radius: 10px;
}
.food {
  background-color: rgb(226, 43, 195);
  border: 3px solid pink;
  border-radius: 10px;
}
.head {
  background-color: blueviolet;
  border: 3px solid pink;
  border-radius: 10px;
}

.button{

  /* height: 40vw;
  width: 40vw; */
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-radius: 50%;
  padding:10px;
  background-color: red;
  animation: animate 5s linear infinite ;
  display: none;
  /* position: relative; */
  /* z-index: 100; */
}
@keyframes animate {
  0%{
    box-shadow: 1px 1px 1px white,-1px -1px 1px white,-1px 1px 1px white,1px -1px 1px white;
  }
  50%{
    box-shadow: 3px 3px 5px rgb(255, 255, 255),3px -3px 5px white, -3px 3px 5px rgb(255, 255, 255),-3px -3px 5px white;
  }
  100%{
    box-shadow: 1px 1px 1px white,-1px -1px 1px white,-1px 1px 1px white,1px -1px 1px white;
  }
}
/* .button::after{
  content: "";
  position: relative;
  top: 100%;
  left:100%;
  width: 103%;
  height: 103%;
  background-color: white;
  border-radius: 50%;
  z-index: -1000;
} */

.button .top{
  /* background-color: yellow; */
  grid-row-start: 1;
  grid-column-start: 2;
  border-radius: 25% 25% 0 0;

}
.button .left{
  /* background-color: yellow; */
  grid-row-start: 2;
  grid-column-start: 1;
  border-radius: 10px;
  border-radius: 25%  0  0 25%  ;
}
.button .right{
  /* background-color: yellow; */
  grid-row-start: 2;
  grid-column-start: 3;
  border-radius: 10px;
  border-radius: 0  25% 25% 0 ;
}
.button .bottum{
  /* background-color: yellow; */
  grid-row-start: 3;
  grid-column-start: 2;
  border-radius: 10px;
  border-radius: 0 0 25% 25%;
}
.btn{
  width: min(10vw,10vh);
  height: min(10vw,10vh);
  display: grid;
  place-items: center;
  margin:2px;
  font-size: 1rem;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f1118;
  color: white;

}
.btn:hover{
  cursor: pointer;
  box-shadow: 2px 2px 1px white,
  -2px -2px 1px white,-2px 2px 1px white,2px -2px 1px white;
 
}
.button .paus{
  border-radius: 50%;
  background-color: yellow;
  background-color: #0f1118;
  grid-row-start: 2;
  grid-column-start: 2;
}


@media (max-width:500px) {
   .greeting{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: min(10vw,10vh);
   }
   .button{
    display: grid;
    z-index:1000 ;
   }
    .scoreboard{
      /* width: 40vw;
      height: 20vw; */
      position: absolute;
  top: 10vh;
  right: 3vh;
      /* top:15vw;
      right:2vw; */
      border: 2px solid red;
      padding: 10px;
    }
    
    #highest,
#curr {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-shadow: 1px 1px 1px rgb(15, 14, 14);
}
#BODY{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  display: none;
}
#gamearea{
  height: 100vw;
  width: 95vw;
  position: relative;
  top:24vh;
}
.design{
  flex-direction: row;
}
.design .coler{
  margin:5px;
}
.h1 {
 
  font-family: Arial, Helvetica, sans-serif;
  padding: 1px;
 left:10px;
 width: 80vw;
 height: 13vw;
 overflow: hidden;
}
}
@media (max-width:900px) {
  #gamearea{
    top:100px;

  }
  /* .scoreboard{
    top:10px;
    right: 10px;
  } */
  .design{
    left:2vw;
  }
}